<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>CarRentalServlet</servlet-name>
        <servlet-class>com.bionic_university.carrental.servlet.CarRentalServlet</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>\WEB-INF\classes\log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CarRentalServlet</servlet-name>
        <url-pattern>/CarRentalServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <resource-ref>
        <res-ref-name>jdbc/appname</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <filter>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <filter-class>
            com.bionic_university.carrental.filters.FormEncodingSetterFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>FormEncodingSetterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
